services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - {{container_config_location}}:{{container_config_location}}
    environment:
      - DOCKGE_STACKS_DIR={{container_config_location}}
networks:
  docker-network:
    external: true