services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{docker_userid}}
      - PGID={{docker_userid}}
      - TZ={{docker_timezone}}
    volumes:
      - ./data:/config
      - ../transmission/downloads:/downloads
      - {{storage_location}}/Films:/films
    restart: unless-stopped
    ports:
      - 7878:7878
    networks:
      - docker-network

networks:
  docker-network:
    external: true